* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Spline Sans Mono", monospace;
  text-align: center;
}

header {
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: 64px;
}

.player_info {
  text-align: center;
}

.board {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: 1px solid black;
  margin: 30px;
}

.mancala {
  height: 200px;
  width: 100px;

  border: 1px solid black;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.pit_wrapper {
  display: flex;
  flex-flow: row wrap;
  width: 600px;
}

.pit {
  height: 100px;
  width: 100px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}

.pip {
  height: 20px;
  width: 20px;
  background: linear-gradient(to bottom left, #33ccff 0%, #6600cc 100%);
  border-radius: 50%;
  margin: 3px;
  box-shadow: 5px 5px 3px -3px #000000;
  z-index: -1;
}
